- provide :page_title, @evaluation.name

%ul.criteria
  - @evaluation.criteria.each do |criterion|
    %li
      %p= criterion.prompt
      %ul.alternatives
        - criterion.alternatives.each do |alternative|
          %li= alternative.label

= link_to 'Edit Evaluation', edit_evaluation_path(@evaluation)
= link_to 'Back to Evaluations', evaluations_path
